.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px; /* Adjust margin as needed */
}

.button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.aboutustop {
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255)
}

.headertitle {
  text-align: center;
}

.topofthepage {
  margin-top: 160px;
  margin-left: 20px;
}