<!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DJ Lärkiboy Ljud Och Ljus - Mackie Thump Go</title>
        <link rel="stylesheet" href="../../static/Js/Css/main.css">
        <script src="../../static/Js/Main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>
  <body class="indexbody">
    <div class="product-container">
      <img src="../../../Pictures/Mackiethumpgo.png" height="735">
      <p class="p">Mackie Thump Go</p>
      <p id="mackiethumpgostock" class="p"></p>
      <a href="../uthyrning.html" class="button-center-bottom">Get back</a>
    </div>
  </body>
 </html>
 