<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DJ Lärkiboy Ljud Och Ljus - Superlux HMD-66xx</title>
   <link rel="stylesheet" href="../../static/Css/main.css">
   <script src="../../static/Js/Main.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
   <style>
     body, html {
       height: 100%;
       margin: 0;
       padding: 0;
   }
   </style>
 </head>
 <body class="indexbody">
   <div class="product-container">
     <img src="../../../Pictures/Superlux HMD-66x.png" height="700">
     <p class="p">Superlux HMD-66x</p>
     <p id="superluxHMD66xstock" class="p"></p>
     <p>Want to hire this product?</p>
     <a href="">Click here</a>
     <a href="../uthyrning.html" class="button-center-bottom">Get back</a>
   </div>
 </body>
</html>