.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px; /* Adjust margin as needed */
}

.button:hover {
  background-color: rgb(0, 86, 179); /* Darker color on hover */
}

.button:active {
  background-color: rgb(0, 92, 200);
}

.headertitle {
  text-align: center;
}

.topofthepage {
  margin-top: 160px;
  margin-left: 20px;
}

.body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-input {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}

.center-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3abe6d; /* Example background color */
  color: #fff; /* Example text color */
  padding: 20px;
  z-index: 1000; /* Ensure header is above other content */
}