<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>DJ Lärkiboy Ljud Och Ljus</title>
       <script src="../../static/Js/Main.js"></script>
       <link rel="stylesheet" href="../../static/Css/main.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    </head>
    <body class="indexbody">
      <header class="sticky-header">
        <h2>DJ Lärkiboy Ljud Och Ljus</h2>
        <div class="right-button-container">
          <a href="uthyrning.html" class="button">Uthyrning av Ljud och Ljus-utrustning</a>
          <a class="button" href="admin.html">Admin homepage</a>
          <button onclick="logout()" class="button-admin">Logga ut</button>
        </div>
      </header>
      
      <div class="top-div">
        <p>Uthyrning av Ljud och ljusutrustning</p>
        <!--
        <div class="container-mackie-thumb-go">
          <img src="../../../Pictures/Mackiethumpgo.png" height="140">
          <p class="mackiethumpgo">Mackie Thump Go</p>
          <button onclick="setStockMackieThumpGo()" class="button">Ändra hur många av denna produkt vi har i lager</button>
        </div>
        <div  class="container-Superlux-HMD-66x">
          <img src="../../../Pictures/Superlux HMD-66x.png"height="140">
          <p class="white-p-product">Superlux HMD-66x</p>
          <button class="button" onclick="setStockSuperluxHMD66x()">Ändra hur mycket av denna prudukt vi har i lager</button>
        </div>
        <div class="container-AKG-DST-99-S" onclick="navigateAKGDST99S()">
          <img src="../../Pictures/Screenshot 2024-05-14 10.49.31.png" height="140">
          <p>AKG DST 99 S</p>
          <button>Ändra hur många av denna produkt vi har i lager</button>
        </div>
        -->
      </div>
    </body>
  </html>
  