<!DOCTYPE HTML>
  <html>
     <head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>DJ Lärkiboy Ljud Och Ljus</title>
        <script src="../static/Js/Main.js"></script>
        <link rel="stylesheet" href="../static/Js/Css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

     </head>
      <body>
        <header class="sticky-header">
           <h2>DJ Lärkiboy Ljud Och Ljus</h2>
               <a href="index.html" class="button-home">Home</a>
           <a href="uthyrning.html" class="button" >Uthyrning av Ljud och Ljus-utrustning</a>
            <a href="about.html" class="button">Om oss</a>
            <a href="workhere.html" class="button">Jobba hos oss</a>
            <a class="button" href="adminlogin.html">Admin</a>
        </header>
        <p class="topofthepage">Vi har funnits sedan 2024. Sedan dess har vi och vårat team hyrt ut ljud-och ljusutrustning till både småskaliga dicon och proffessonella evenemang.</p>
      </body>
  </html>
