<!DOCTYPE html>
  <html class="html">
    <head>
      <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>DJ Lärkiboy Ljud Och Ljus</title>
        <script src="../static/Main.js"></script>
        <link rel="stylesheet" href="../static/Js/Css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
          document.addEventListener('keydown', function(event){
            if (event.keyCode === 13) {
              console.log('enter key pressed')
              adminlogin()
            }
          });
        </script>
    </head>
    <body class="body">
      <input type="password" placeholder="Enter admin password" id="adminloginprompt" class="center-input">
      <button onclick="adminlogin()" class="center-button">Log in</button>
    </body>
  </html>
  