<!DOCTYPE HTML>
   <html>
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DJ Lärkiboy Ljud Och Ljus</title>
        <link rel="stylesheet" href="../static/Css/main.css">
        <script src="../static/Js/Main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>        
      </head>
      <body class="body">
        <header class="sticky-header">
          <h2 class="header-title">DJ Lärkiboy Ljud Och Ljus</h2>
          <div class="right-button-container">
            <a href="index.html" class="button-home">Home</a>
            <a href="uthyrning.html" class="button">Uthyrning av Ljud och Ljus-utrustning</a>
            <a class="button" href="tjänster.html">Våra tjänster</a>
            <a href="about.html" class="button">Om oss</a>
            <a href="workhere.html" class="button">Jobba hos oss</a>
            <a class="button-admin" href="adminlogin.html">Admin</a>
          </div>
        </header>

        <img src="../../Pictures/logo.jpeg" width="700" class="topofthepage">
        <p class="our-products">Our products</p>
        <a href="products/mackiethumpgo.html" class="a-to-p">Mackie Thump Go</a>
        <a href="products/superluxHMD66x.html" class="a-to-p">Superlux HMD-66x</a>
      </body>
   </html>
