<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Lärkiboy Ljud Och Ljus</title>
    <link rel="stylesheet" href="../static/Css/main.css">
    <script src="../static/Js/Main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    </head>
    <body class="indexbody">
      <div style="margin-left: 20px;">
        <p>You have not enter'd the right password</p>
        <p>Please</p>
        <a href="adminlogin.html" class="button">Try again</a>
        <p>OR</p>
        <a href="index.html" class="button">Go back</a>
      </div>
    </body>
  </html>