<!DOCTYPE HTML>
  <html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>DJ Lärkiboy Ljud Och Ljus</title>
      <script src="../static/Js/Main.js"></script>
      <link rel="stylesheet" href="../static/Css/main.css">       
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    </head>
    <body class="indexbody">
      <header class="sticky-header">
        <h2>DJ Lärkiboy Ljud Och Ljus</h2>
        <div class="right-button-container">
          <a href="index.html" class="button-home">Home</a>
          <a href="uthyrning.html" class="button">Uthyrning av Ljud och Ljus-utrustning</a>
          <a class="button" href="tjänster.html">Våra tjänster</a>
          <a href="about.html" class="button">Om oss</a>
          <a href="workhere.html" class="button">Jobba hos oss</a>
          <a class="button-admin" href="adminlogin.html">Admin</a>
        </div>
      </header>
      
      <p class="topofthepage">Uthyrning av Ljud och ljusutrustning</p>
      <div class="container-mackie-thumb-go" onclick="navigateMackieThumpGo()">
        <img src="../../Pictures/Mackiethumpgo.png" height="140">
        <p class="mackiethumpgo">Mackie Thump Go</p>
      </div>

      <div  class="container-Superlux-HMD-66x" onclick="navigateSuperluxHMD66x()">
        <img src="../../Pictures/Superlux HMD-66x.png"height="140">
        <p class="white-p">Superlux HMD-66x</p>
      </div>
    </body>
  </html>
