<!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Lärkiboy Ljud Och Ljus</title>
    <link rel="stylesheet" href="../static/Js/Css/main.css">
    <script src="../static/Js/Main.js"></script>
  </head>
  <body class="indexbody">
    <header class="sticky-header">
      <h2>DJ Lärkiboy Ljud Och Ljus</h2>
      <div class="right-button-container">
        <a href="index.html" class="button-home">Home</a>
        <a href="uthyrning.html" class="button">Uthyrning av Ljud och Ljus-utrustning</a>
        <a href="about.html" class="button">Om oss</a>
        <a href="workhere.html" class="button">Jobba hos oss</a>
        <a class="button-admin" href="adminlogin.html">Admin</a>
      </div>
   </header>
   <p class="topofthepage">Do you want to work here?</p>
   <p class="margin-left">Fill the form down below</p>
   <iframe width="640px" height="480px" src="https://forms.office.com/r/eDXJVbFxGn?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
  </body>
 </html>